* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

a {
    text-decoration: none;
    color: inherit;
}



.dashboard {
    display: flex;
    min-height: 100vh;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}



.dashboard_main {
    flex-basis: 80%;
}


/* side bar css */
.dashboard_sidebar {
    flex-basis: 20%;
    background-color: #252525;
    padding: 20px 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3em;
}

.dashboard_sidebar>div {
    display: flex;
    flex-direction: column;
    gap: 3em;
}


.dashboard_sidebar__header>div {
    display: flex;
    align-items: center;

    gap: 10px;

}

.dashboard_sidebar__header__logo {
    width: 50px;
    height: 50px;
}

.dashboard_sidebar__header__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dashboard_sidebar__header__title {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.dashboard_sidebar__header__title h1 {
    color: #fff;
    font-size: 2.5em;
    line-height: 100%;

}


.dashboard_sidebar__header__title p {
    color: #ffffffab;
    font-size: 1em;
    line-height: 100%;
}


/* sidebar navgation links */


.dashboard_sidebar__nav ul {
    list-style: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    font-size: 1.5rem;
}


.dashboard_sidebar__nav ul li a {
    display: inline-block;
    color: #fff;
    width: 100%;
    padding: 0.3em;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}

.dashboard_sidebar__nav ul li a:hover {
    background-color: #343232;
    padding: 0.3em;
    border-radius: 5px;
}


.dashboard_sidebar__footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1em;
}


.dashboard_sidebar__footer button {
    all: unset;
    background-color: #fff;
    color: #252525;
    padding: 0.3em 0.5em;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    font-size: 1.4rem;
    cursor: pointer;
}

.dashboard_sidebar__footer button:hover {
    background-color: #3c3b3b;
    color: #fff;
}